<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "nwbb_members/head.html" %}
    </head>
    <body>
        <div id="wrapper">
            {% include "nwbb_members/nav.html" %}
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Login Details - {{ member.username }}</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th>First Name</th>
                                    <td>{{ member.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{ member.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>User Name</th>
                                    <td>{{ member.username }}</td>
                                </tr>
                                <tr>
                                    <th>Email Address</th>
                                    <td>{{ member.email }}</td>
                                </tr>
                            </table>
                            <hr>
                            {% if request.user.is_staff %}
                                <div class="btn-group">
                                    <a class="btn btn-default" href="{% url "members:view_member_details" member.id %}">View User</a>
                                    <a class="btn btn-default" href="{% url "admin:auth_user_change" member.id %}">Edit User</a>
                                    <a class="btn btn-danger" href="{% url "admin:auth_user_delete" member.id %}"
                                       id="tooltip" title="This Action Cannot be Reverted!">Delete User</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </div>
    </body>
</html>
