<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "nwbb_members/head.html" %}
    </head>
    <body>
        <div id="wrapper">
            {% include "nwbb_members/nav.html" %}
            <div id="page-wrapper">
                <header>
                    <a href="{% url 'members:index' %}"><img src="/static/logo.png"/></a>
                </header>
                <h1> Edit Details for {{ member.user.get_full_name }} </h1>
                <div class="row">
                    <div class="span8">
                        <form class="form-horizontal well" method="POST">
                            <p>Member's details are displayed below. If anything is incorrect, please make the appropriate
                                changes.</p>
                            <hr/>
                            {% csrf_token %}
                            {{ form }}
                            <hr>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Confirm Details</button>
                                <a class="btn" href="{% url 'members:index' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="center-block" style="max-width:400px">
                    <a href="{% url 'members:index' %}" class="btn btn-lg btn-default" role="button">Home</a>
                    <a href="{% url 'logout' %}" class="btn btn-lg btn-primary" role="button">Logout</a>
                </div>
            </div> <!-- /container -->
        </div>
    </body>
</html>
