<!DOCTYPE html>
<html lang="en">
	<head>
    	{%  include "nwbb_members/head.html" %}
	</head>
	<body>
	    <div class="container">
	    	<header>
				<a href="{% url 'members:index' %}"><img src="/static/logo.png" /></a>
			</header>	    
			<hr />
		   <p class="lead"><big>{{ username }} </big> you have successfully logged on to the NWBB Members site.</p>
		   <p>This page will show the different options available to the logged on user depending upon their role within the organisation.</p>
		   <p>The View Members button is for demonstration purposes only at this stage</p>
		    <hr />
	   
		    <!-- 'url' template tag takes the name of the URL pattern
		         as an argument and renders the URL path. Here it renders
		         the path to the logout URL.
		    -->
		    <div class="row">
			     <a href="{% url 'members:view_members' %}" class="btn btn-lg btn-success" role="button" >View Members</a>
			     <a href="{% url 'logout' %}" class="btn btn-lg btn-primary" role="button" >Logout</a>
		     </div>
	     </div>
	</body>
</html>



