<!DOCTYPE html>
<html lang="en">
	<head>
		{%  include "nwbb_members/head.html" %}
	</head>
	
	<body>
		<div class="container">
			<header>
				<a href="{% url 'members:index' %}"><img src="/static/logo.png" /></a>
			</header>	    
			<form class="form-signin" method="post" action="{% url "django.contrib.auth.views.login" %}"> {% csrf_token %}       	
		        <h2 class="form-signin-heading">Existing Users</h2>
		        <label for="username" class="sr-only">Username</label>
		        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
		        <label for="password" class="sr-only">Password</label>
		        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me"> Remember me
		          </label>         
		        </div>
		        
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>        
		        <a class="btn" href="{% url "django.contrib.auth.views.password_reset" %}">Reset Password</a>
		    </form>
	    </div> <!-- /container -->
	</body>

</html>