<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">NWBB Admin</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{% url "members:view_member_details" request.user.id %}"><i class="fa fa-user fa-fw"></i>
                    User Profile</a>
                </li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <form action="{% url 'members:view_members' %}" method="GET">
                            <div class="form-group input-group">
                            <input type="text" class="form-control" name="lookup" placeholder="Search Members..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="{% url 'members:index' %}" class="active"><i class="fa fa-home fa-fw"></i> Home Page</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i> Members<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="{% url 'members:add_user' %}">Add Member</a>
                        </li>
                        <li>
                            <a href="{% url 'members:view_members' %}">View All Members</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="cursor: not-allowed" title="Not Yet Implemented"><i
                            class="fa fa-table fa-fw"></i> Rota</a>
                </li>
                <li>
                    <a href="#" style="cursor: not-allowed" title="Not Yet Implemented"><i class="fa fa-edit fa-fw"></i>
                        Dispatch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>